body{
	margin: 0;
	padding:0;
}

.header {
	display: block;
	box-sizing: border-box;
	text-align: center;
	font-size: 50px;
	font-family:onyx;
	font-style: italic;
	border-width: 100px
	padding: 10px;
	background-color: blue;
	color: yellow;
	border:2px solid black;
} 